<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>

<body>

    <h1>Account creation successful.</h1>

    <p>Thank you, {{userName}}, for making an account with us! This will be your userId, and is the only thing required for you to log
        in to our account. Please keep this number saved to continue shopping with us!</p>

    <h2>{{userId}}</h2>

    <a href='/trylogin'><h3>Go to login page</h3></a>

</body>

</html>