<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>View Cart</h2>


    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
        }
    </script>
    <table id="myTable">
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>
                <form action="{{url_for('deleteitem')}}" method="POST">
                    <input type="text" id="productId" name="productId" style="font-size: 5px; visibility:hidden" value="{{item[0]}}">
                    <button type="submit" name="Remove" onclick="deleteRow(this)">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href='/homep'><h3>Home</h3></a>
</body>

</html>