<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>

<head>
    <title>Liquor</title>
</head>

<body>
    <h1>Menu</h1>
    <p><a href="/viewinventory">View Inventory</a></p>
    <p><a href="/viewproducts">View Products</a></p>
    <p><a href="/salesbycustomer">Sales By Customer</a></p>
    <p><a href="/bestsellers">Bestsellers</a></p>
    <p><a href="/getuserinput">Register a new user</a></p>
    <p><a href="/">Home</a></p>
</body>

</html>