<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>

<body>

    <h1>HTML Forms</h1>
    <form action="{{url_for('registeruser')}}" name="myForm" method="post" onsubmit="return validateForm()">
    <!-- <form action="/registeruser" name="myForm" method="POST" onsubmit="return validateForm()"></form> -->
        <div class="form-group">
            <label>First Name</label> <span id="error-fname"></span>
            <input type="text" name="fname" class="form-control" placeholder="Enter First Name" required>
        </div>
        <div class="form-group">
            <label>Last Name</label> <span id="error-lname"></span>
            <input type="text" name="lname" class="form-control" placeholder="Enter Last Name" required>
        </div>
        <div class="form-group">
            <label>Age</label> <span id="error-age"></span>
            <input type="number" name="age" min="0" max="110" class="form-control" placeholder="Enter Age" required>
        </div>
        <div class="form-group">
            <label>Account Number</label> <span id="error-acc"></span>
            <input type="number" name="accNum" class="form-control" placeholder="Enter Account Number" required>
        </div>
        <div class="form-group">
            <label>Routing Number</label> <span id="error-route"></span>
            <input type="number" name="routeNum" class="form-control" placeholder="Enter Routing Number" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Send">
        </div>
    </form>
    <script>
        function validateForm() {
            var age = document.forms["myForm"]["age"].value;

            if (age < 21) {
                alert("Soliciting alcohol to people uder the age of 21 is prohibited by law. You are not allowed to sign up.");
            }
        }
    </script>
</body>

</html>